extends layout 

block content 
	h1 #{title}: #{genre.name}

	if books_in_genre.length

		p #[strong Delete the following books in this genre before attempting to delete this Genre.]

		div(style='margin-left: 20px; margin-top: 20px')

			h4 Books in this Genre 

			dl 
			each book in books_in_genre 
				dt 
					a(href=book.url) #{book.title}
				dd #{book.summary}

	else 
		p Do you really want to delete this Genre?

		form(method='POST' action='')
			div.form-group
				input#id.form-control(type='hidden', name='id', required=true, value=genre._id)

			button.btn.btn-primary(type='submit') Delete